<html>
	<head>
		<title>Hello World</title>
	</head>
	<body>
		<header>
			<h1>Bookmark Manager</h1>
			<nav>
				<a href="/links"> Add Link</a>
				<% unless @login_page %>
					<ul>
						<a href="/login">Sign in</a>
						<a href="/register">Sign up</a>
					</ul>
				<% end %>
		</header>
		<%= yield %>
	</body>
	<footer>Makers Academy</footer>
<html>
