			 Please enter your enter your details ^_^
			 <form method="post" action="/sessions">
			      Email: <input type="text" name="email">
			      Password: <input type="password" name="password">
			      <input type="submit" value="Sign in"> 
			 </form>
			<h3>This is our login page</h3>		