<html>
	<head>
		<title>Hello Makers</title>
	</head>
	<body>
		<header>
			 <form action="/hello">
      Please enter your Username and password ^_^
      <input type="text" name="name">
      <input type="text" password="password">
      <input type="submit">
    </form>
			<h3>This is our login page</h3>
			<nav>
		</header>
	</body>
	<footer>Makers Academy</footer>
<html>
