<html>
	<head>
		<title>Hello Makers</title>
	</head>
	<body>
		<header>
			 <form action="/hello">
      Please enter your enter your details ^_^
      Username: <input type="text" name="name">
      Password: <input type="text" name="password">
      <input type="submit">
    </form>
			<h3>This is our login page</h3>
			<nav>
		</header>
	</body>
	<footer>Makers Academy</footer>
<html>
