<html>
	<head>
		<title>Hello Makers</title>
	</head>
	<body>
		<header>
			 Please enter your enter your details ^_^
			 <form method="post" action="/sessions">
      Email: <input type="text" name="email">
      Username: <input type="text" name="name">
      Password: <input type="text" name="password">
      <input type="submit" value="Sign in"> 
    </form>
			<h3>This is our login page</h3>
			<nav>
		</header>
	</body>
	<footer>Makers Academy</footer>
<html>