<html>
	<head>
		<title></title>
	</head>
	<body>
		<header>
			 <form action="/register">
      Please enter a Username
      username: <input type="text" name="name">
      password: <input type="text" password="password">
      <input type="submit">
    </form>
			<h3>This is our registration page</h3>
			<nav>
		</header>
	</body>
	<footer>Makers Academy</footer>
<html>
