<html>
	<head>
		<title>Please sign up</title>
	</head>
	<body>
		<header>
			 <form action="/users" method="post">
    	Enter your details
      Email <input typ="text" name="email">
      password: <input type="password" name="password">
      confirm password <input type="password" name="password_confirmation">
      <input type="submit" value="sign up">
    </form>
			<h3>This is our registration page</h3>
			<nav>
		</header>
	</body>
	<footer>Makers Academy</footer>
<html>